$primary: (
  100: #686a90,
  200: #2e2f47,
  300: #191a2a,
  400: #10101a,
);

$accent: (
  100: #fd4d60,
  200: #fa754b,
  300: #fb9838,
  400: #f8bb25,
);

$text: (
  "white": #fdfdfd,
  "red": #fd4465,
  "yellow": #f3fd30,
  "green": #3fe67a
)
