.container {
  $margin-size: auto;
  $padding-size: 0.5rem;

  width: 100%;

  margin-left: $margin-size;
  margin-right: $margin-size;

  padding-left: $padding-size;
  padding-right: $padding-size;
}
